<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="BrowserName" value="internet-explorer"/>
    <add key="BrowserVersion" value="32"/>
    <add key="Platform" value="Windows"/>
    <add key="ApplicationBaseUrl" value ="https://the-internet.herokuapp.com"/>
  </appSettings>
</configuration>