<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="saucelabs"/>
    <add key="BrowserName" value="Safari"/>
    <add key="BrowserVersion" value="9.0"/>
    <add key="Platform" value="OS X 10.11"/>
    <add key="ApplicationBaseUrl" value ="https://the-internet.herokuapp.com"/>
  </appSettings>
</configuration>