<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="BrowserName" value="firefox"/>
    <add key="BrowserVersion" value=""/>
    <add key="Platform" value=""/>
    <add key="ApplicationBaseUrl" value ="https://the-internet.herokuapp.com"/>
  </appSettings>
</configuration>