<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="saucelabs"/>
    <add key="BrowserName" value="Internet Explorer"/>
    <add key="BrowserVersion" value="10"/>
    <add key="Platform" value="Windows 7"/>
    <add key="ApplicationBaseUrl" value ="https://the-internet.herokuapp.com"/>
  </appSettings>
</configuration>